	
/* popBox */
.yl-jquery-popBox {
	display: none;
	position: absolute;
	background: #323232;
	padding: 5px;
	z-index: 10;
	min-height: 400px;
	min-width: 500px;
	border: #1f1f1f 10px solid;
	padding: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(33, 33, 33, 0.5);
	-moz-box-shadow: 1px 1px 1px 1px rgba(33, 33, 33, 0.5);
	box-shadow: 1px 1px 1px 1px rgba(33, 33, 33, 0.5);	
	color:#cccccc; /*text*/

}
	
.yl-jquery-popBox_background{
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background: #323232;
	z-index: 1;
	min-height:100%;
	margin:0 auto;	
}

.yl-jquery-popBox_close_button{
	float: right;
	margin-top: -45px;
	margin-right: -45px;
  cursor: pointer;
}